<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Progress.o4glrt" publicKeyToken="1a0c0a15bd34807c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.7.0.1388" newVersion="11.7.0.1388" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>